@model Tender.Models.Models.RFQ_BIDDING

@{
    ViewBag.Title = "Create Tender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                    <div class="col-12">
                        <img src="~/App_Asset/dist/img/ML_Red_wave__1_.jpg" class="product-image" alt="Product Image">
                    </div>
                    <div class="col-12 product-image-thumbs">
                        <div class="product-image-thumb active"><img src="~/App_Asset/dist/img/ML_Red_wave__1_.jpg" alt="Product Image"></div>
                        <div class="product-image-thumb"><img src="~/App_Asset/dist/img/ML_Red_wave__1_.jpg" alt="Product Image"></div>
                        <div class="product-image-thumb"><img src="~/App_Asset/dist/img/ML_Red_wave__1_.jpg" alt="Product Image"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <h4 class="my-3">Tender Number :<span class="text-primary">#TND014654657455</span> </h4>
                    <h6 class="my-3">Name :<span class="text-success"> VSN GD Chest Freezer RE-150L Maple Leaf Red Wave</span></h6>
                    <p>About Tender : A tender is an invitation to bid for a project or accept a formal offeto the process whereby governments</p>
                    <hr>
                    <h5>This Auction Ends in</h5>
                    <span class="text-danger">0d  : 7h  : 34m  : 24s</span>
                    <hr />
                    <div class="row">
                        <div class="col">Active Bidders : 60 </div>
                        <div class="col">Watching : 100 </div>
                        <div class="col">Total Bids : 80 </div>
                    </div>

                    <div class="btn-default py-2 px-3 mt-4">
                        <h2 class="mb-0">
                            $80.00
                        </h2>
                        <h4 class="mt-0">
                            <small>Ex Tax: $80.00 </small>
                        </h4>
                    </div>
                </div>
            </div>
            <br />
            <div class="card-footer row">
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndDetails">
                        Tender Information
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4  mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndItem">
                        Item Information
                        <i class="fa fa-list-alt"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndShipment">
                        Shipment Details
                        <i class="fas fa-shipping-fast"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndPayment">
                        Submit Bid
                        <i class="fab fa-first-order"></i>
                    </a>
                </div>
            </div>
            <div class="row" id="detailsBody">
                <div class="col-md-12">
                    <table class="table table-borderless table-responsive">
                        <tbody>
                            <tr>
                                <th>Tender Number  </th>
                                <td>: #TN012654613165</td>
                            </tr>
                            <tr>
                                <th>Bidding type </th>
                                <td>: Submit Once</td>
                            </tr>
                            <tr>
                                <th>Bidding Start:  </th>
                                <td>: 20 January 2022</td>
                            </tr>
                            <tr>
                                <th>Bidding End:  </th>
                                <td>: 20 April 2022</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" id="itemBody" style="display:none;">
                <div class="col-md-12">
                    <table class="table table-borderless table-responsive">
                        <tbody>
                            <tr>
                                <th>Product Name  </th>
                                <td>: VSN GD Chest Freezer RE-150L Maple Leaf Red Wave</td>
                            </tr>
                            <tr>
                                <th>Tender Rate </th>
                                <td>: 200 BDT</td>
                            </tr>
                            <tr>
                                <th>Product Quantity  </th>
                                <td>: 500 TON</td>
                            </tr>
                            <tr>
                                <th>Product Description   </th>
                                <td>: A tender is an invitation to bid for a project or accept a formal offeto the process whereby governments</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" id="shipmentBody" style="display:none;">
                <div class="col-md-12">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th>Partial ShipMent   </th>
                                <td>: Not Allow</td>
                            </tr>
                            <tr>
                                <th>Last Shipment Date </th>
                                <td>: 01 January 2022</td>
                            </tr>
                            <tr>
                                <th>Shipment Mode</th>
                                <td>:Sea</td>
                            </tr>
                            <tr>
                                <th>Port Name</th>
                                <td>:Chittagong Port</td>
                            </tr>
                            <tr>
                                <th>Receiver Name   </th>
                                <td>: Pran Rfl Group</td>
                            </tr>
                            <tr>
                                <th>Receiver Details</th>
                                <td>: Middle Badda, Pran RFL Center,Dhaka , Bangladesh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" id="paymentBody" style="display:none;">
                <div class="col-md-12">
                    @using (Html.BeginForm("Bid", "Quotation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Loading Address</label>
                                        @Html.TextAreaFor(m => m.LOADING_ADDRESS, new { @class = "form-control form-control-sm", rows = "1", required = "required", placeholder = "Enter Loding Address" })
                                        @Html.ValidationMessageFor(m => m.LOADING_ADDRESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Sender Name</label>
                                        @Html.EditorFor(model => model.SENDER_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", placeholder = "Sender Name" } })
                                        @Html.ValidationMessageFor(m => m.SENDER_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Sender Details</label>
                                        @Html.TextAreaFor(m => m.SENDER_DETAILS, new { @class = "form-control form-control-sm", rows = "1", required = "required", placeholder = "Sender Details" })
                                        @Html.ValidationMessageFor(m => m.SENDER_DETAILS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-3">
                                    <div class="form-group">
                                        <label class="control-label">Submit Rate</label>
                                        @Html.EditorFor(model => model.PRODUCTS_RATE, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", placeholder = "Sender Name" } })
                                        @Html.ValidationMessageFor(m => m.PRODUCTS_RATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-sm btn-primary" value="Submit Tender" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>

</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/App_Asset/css/bid.js"></script>
    <script>
            
    </script>

}

