@model Tender.Models.Models.RFQ_BIDDING

@{
    ViewBag.Title = "Submit Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="col-12">
                        @if (Model.IMAGE_PATH != null)
                        {
                            <img src="~/@Model.IMAGE_PATH" class="product-image img-fluid" alt="Product Image" />
                        }
                        else
                        {
                            <img src="~/App_Asset/dist/img/noImage.jpg" class="product-image img-fluid" alt="Product Image" />
                        }
                    </div>                    
                </div>
                <div class="col-12 col-sm-8">
                    <h4 class="my-3">Company :<span class="text-black">@Model.COMPANY_NAME</span> </h4>
                    <h4 class="my-3">RFQ Number :<span class="text-primary">@Model.RFQ_NUMBER</span> </h4>
                    <h6 class="my-3">Item :<span class="text-success"> @Model.TND_PRODUCTS_NAME</span></h6>
                    <p>Item Description : @Model.TND_PRODUCTS_DESC </p>
                    <p>RFQ Type : @Model.SELL_BUY </p>
                    <hr>
                    <h5>This RFQ Ends in</h5>
                    <input type="hidden" value="@Model.END_DATE.ToString("yyyy-MM-dd")" class="endDate" />
                    <span class="text-danger text-bold" id="auc_end"></span> <span> (BD Time Zone)</span>
                    <hr />
                    <div class="row">
                        <div class="col">Total Quote : @Model.TOTAL_BIDDING </div>
                    </div>

                    <div class="btn-default py-2 px-0 mt-4">
                        <h5 class="mb-0">
                            Purposed Rate :   @Model.TND_PRODUCTS_RATE @Model.CURRENCY_NAME, Quantity : @Model.TND_PRODUCTS_QTY @Model.UNIT
                        </h5>
                    </div>
                </div>
            </div>
            <br />
            <div class="card-footer row">
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndDetails">
                        RFQ Information
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4  mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndItem">
                        Item Information
                        <i class="fa fa-list-alt"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndShipment">
                        Shipment Details
                        <i class="fas fa-shipping-fast"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndPayment">
                        Submit Quotation
                        <i class="fab fa-first-order"></i>
                    </a>
                </div>
            </div>
            <div class="row" id="detailsBody">
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Number   : </span><span class="mb-3">@Model.RFQ_NUMBER</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Type  : </span><span class="mb-3">@Model.SELL_BUY</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Quotation type : </span><span class="mb-3">@Model.RE_BID</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3"> Quotation Rate Range : </span><span class="mb-3">@Model.LOWER_RATE</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Quotation Submit Start:  : </span><span class="mb-3">@Model.START_DATE.ToString("dddd, dd MMMM yyyy")<small>(BD Standard Time)</small></span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Quotation Submit End: : </span><span class="mb-3"> @Model.END_DATE.ToString("dddd, dd MMMM yyyy")<small>(BD Standard Time)</small></span>
                </div>
            </div>

            <div class="row" id="itemBody" style="display:none;">

                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Product Name  : </span><span class="mb-3">@Model.TND_PRODUCTS_NAME</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Rate  : </span><span class="mb-3">@Model.TND_PRODUCTS_RATE</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Product Quantity : </span><span class="mb-3">@Model.TND_PRODUCTS_QTY</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3"> Unit : </span><span class="mb-3">@Model.UNIT</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Product Description : </span><span class="mb-3">@Model.TND_PRODUCTS_DESC</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Documents : </span>
                    @if (Model.RFQ_TNDR_DOCUMENTS.Count() > 0)
                    {
                        foreach (var item in Model.RFQ_TNDR_DOCUMENTS)
                        {
                            <span class="badge badge-success">@item.DOCUMENTS_NAME</span>
                        }
                    }
                </div>

            </div>

            <div class="row" id="shipmentBody" style="display:none;">
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Partial Shipment  : </span><span class="mb-3">@Model.PARTIAL_SHIPMENT</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Last Shipment Date  :</span><span>@Model.LAST_DELIVERY_DATE.ToString("dd-MMMM-yyyy") <small>(BD Standard Time)</small></span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Shipment Mode  :</span><span>@Model.TENDER_SHIPMENT_MODE</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Port Name  :</span><span>@Model.TENDER_PORT_ID</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Receiver Name  :</span><span>@Model.RECEIVER_NAME</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold"> Receiver Details  :</span><span>@Model.RECEIVER_DETAILS</span>
                </div>                
            </div>

            <div class="row" id="paymentBody" style="display:none;">
                <div class="col-md-12">
                    @using (Html.BeginForm("SubmitQuote", "Quotation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.RFQ_NUMBER)
                        @Html.HiddenFor(model => model.VENDOR_ID)
                        @Html.HiddenFor(model => model.PRODUCTS_ID)
                        @Html.HiddenFor(model => model.COMPANY_ID)
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Loading Address</label> <span class="text-danger">*</span>
                                        @Html.TextAreaFor(m => m.LOADING_ADDRESS, new { @class = "form-control form-control-sm", rows = "1", required = "required", placeholder = "Enter Loding Address" })
                                        @Html.ValidationMessageFor(m => m.LOADING_ADDRESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Source Name</label> <span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.SENDER_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", placeholder = "Sender Name" } })
                                        @Html.ValidationMessageFor(m => m.SENDER_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Source Details</label> <span class="text-danger">*</span>
                                        @Html.TextAreaFor(m => m.SENDER_DETAILS, new { @class = "form-control form-control-sm", rows = "1", required = "required", placeholder = "Sender Details" })
                                        @Html.ValidationMessageFor(m => m.SENDER_DETAILS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Submit Rate</label> <span class="text-danger">*</span>
                                        @Html.EditorFor(model => model.PRODUCTS_RATE, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", placeholder = "Product Rate" } })
                                        @Html.ValidationMessageFor(m => m.PRODUCTS_RATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Quantity</label> <span class="text-danger">*</span><span class="text-ge"> ( @Model.TND_PRODUCTS_QTY @Model.UNIT)</span>
                                        @Html.EditorFor(model => model.PRODUCTS_QUANTITY, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Quantity" } })
                                        @Html.ValidationMessageFor(m => m.PRODUCTS_QUANTITY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Product Details</label>
                                        @Html.TextAreaFor(m => m.PRODUCTS_DESC, new { @class = "form-control form-control-sm", rows = "1" , placeholder = "Product Details" })
                                        @*@Html.ValidationMessageFor(m => m.PRODUCTS_DESC, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                @if (Model.TENDER_SHIPMENT_MODE != null && Model.TENDER_PORT_ID != null)
                                {
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Shipment Mode</label>
                                            @Html.DropDownList("SHIPMENT_MODE", null, "-Select-", new { @class = "form-control form-control-sm", placeholder = "" })
                                            @*@Html.ValidationMessageFor(m => m.SHIPMENT_MODE, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6"> 
                                        <div class="form-group">
                                            <label class="control-label">Port Name</label>
                                            @Html.DropDownList("PORT_ID", null, "-Select-", new { @class = "form-control form-control-sm", placeholder = "" })
                                            @*@Html.ValidationMessageFor(m => m.PORT_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                }
                                <div class="col-md-4 col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Note</label>
                                        @Html.TextAreaFor(m => m.NOTE, new { @class = "form-control form-control-sm", rows = "1", placeholder = "Note" })
                                        @*@Html.ValidationMessageFor(m => m.NOTE, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-sm btn-primary" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>

</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/App_Asset/js/bid.js"></script>
    <script>
        $(document).ready(function () {
            var shipmentMode =@Model.SHIPMENT_MODE;
            $('#SHIPMENT_MODE').val(shipmentMode).attr("selected", "selected");
            var portID =@Model.PORT_ID;
            $('#PORT_ID').val(shipmentMode).attr("selected", "selected");

            setInterval("dateimeFunction()", 1000);

            //function preventBack() { window.history.forward(); }
            //setTimeout("preventBack()", 0);
            //window.onunload = function () { null };
        })
        function dateimeFunction() {
            var endDateTime = $('.endDate').val();
            var diffTime = Math.abs(new Date().valueOf() - new Date(endDateTime).valueOf());
            var days = diffTime / (24 * 60 * 60 * 1000);
            var hours = (days % 1) * 24;
            var minutes = (hours % 1) * 60;
            var secs = (minutes % 1) * 60;
            [days, hours, minutes, secs] = [Math.floor(days), Math.floor(hours), Math.floor(minutes), Math.floor(secs)]
            $('#auc_end').text("" + days + "d   " + hours + "h   " + minutes + "m   " + secs + "s");
        }
    </script>

}
