@model IEnumerable<Tender.Models.Models.RFQ_BIDDING>
@{
    ViewBag.Title = "Winings RFQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<section class="content">
    <div class="card card-solid">
        <div class="card-body">

            <div class="card card-primary card-outline mt-3">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list"></i>
                        @ViewBag.Title  &nbsp;&nbsp; <small>@System.DateTime.Now</small>
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover table-responsive-md">
                        <thead>
                            <tr class="table-secondary">
                                <th>View Details</th>
                                <th>RFQ Number</th>
                                <th>Quote Number</th>
                                <th>Product Name</th>
                                <th>Submit Date <small>(BD Standard Time)</small></th>
                                <th>Quote Rate</th>
                                <th>Quote Quantity</th>
                                <th>Approve Date <small>(BD Standard Time)</small></th>
                                <th>Approve Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr data-widget="expandable-table" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Click For Details">
                                        <td><a class="btn btn-sm  btn-outline-success">View Details</a></td>
                                        <td>@item.RFQ_NUMBER</td>
                                        <td>@item.QUOTE_NUMBER</td>
                                        <td>@item.TND_PRODUCTS_NAME</td>
                                        <td>@item.SUBMIT_DATE.ToString("yyyy-MM-dd")</td>
                                        <td>@item.PRODUCTS_RATE</td>
                                        <td>@item.PRODUCTS_QUANTITY</td>
                                        <td>@item.APPROVAL_DATE.ToString("yyyy-MM-dd")</td>
                                        <td>@item.APPROVAL_NOTE</td>
                                    </tr>

                                    <tr class="expandable-body table-active">
                                        <td colspan="9">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <span class="text-bold">RFQ Product Details :</span> @item.TND_PRODUCTS_DESC <br />
                                                    <span class="text-bold">RFQ Port Name :</span> @item.TENDER_PORT_ID <br />
                                                    <span class="text-bold">RFQ Shipment Mode :</span> @item.TENDER_SHIPMENT_MODE <br />
                                                    <span class="text-bold">Delivery Address :</span> @item.LOADING_ADDRESS <br />
                                                    <span class="text-bold">Receiver Name :</span> @item.RECEIVER_NAME <br />
                                                    <span class="text-bold">Shipment Mode :</span> @item.RECEIVER_DETAILS <br />
                                                    <hr />
                                                </div>

                                                <div class="col-md-6 ">
                                                    <span class="text-bold">Quote Product Details :</span> @item.PRODUCTS_DESC <br />
                                                    <span class="text-bold">Quote Port Name :</span> @item.Q_PORT_NAME <br />
                                                    <span class="text-bold">Quote Shipment Mode :</span> @item.Q_SHIPMENT_MODE <br />
                                                    <span class="text-bold"> Loding Address :</span> @item.DELIVERY_ADDRESS <br />
                                                    <span class="text-bold"> Source Name :</span> @item.SENDER_NAME <br />
                                                    <span class="text-bold"> Source Details :</span> @item.SENDER_DETAILS <br />
                                                    <hr />
                                                </div>

                                            </div>
                                        </td>
                                    </tr>

                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>

</section>









@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
       
    </script>

}