@model Tender.Models.Models.VENDOR

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutRL.cshtml";
}
<div class="register-logo">
    <a href=""><b>Admin</b>LTE</a>
</div>

<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="input-group mb-3">
                @Html.EditorFor(model => model.ORGANIZATION_NAME, new { htmlAttributes = new { @class = "form-control", placeholder = "Organization Name" } })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fa fa-industry"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @*@Html.EditorFor(model => model.COUNTRY_NAME, new { htmlAttributes = new { @class = "form-control", placeholder = "Country Name" } })*@
                @Html.DropDownList("COUNTRY_NAME", null, "--select country--", new { @class = "form-control form-control-sm select2", placeholder = "Country Name" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-flag"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.EditorFor(model => model.VENDOR_EMAIL, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.EditorFor(model => model.VENDOR_PASSWD, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="icheck-primary">
                        @Html.EditorFor(model => model.PURCHASER, new { htmlAttributes = new { id = "Purchaser" } })
                        <label for="Purchaser">
                            Purchaser
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="icheck-primary">
                        @Html.EditorFor(model => model.PURCHASER_NOTIFY, new { htmlAttributes = new { id = "purNotify" } })
                        <label for="purNotify">
                            Get Purchaser Notification
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="icheck-primary">
                        @Html.EditorFor(model => model.SUPPLIER, new { htmlAttributes = new { id = "supllier" } })
                        <label for="supllier">
                            Supplier
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="icheck-primary">
                        @Html.EditorFor(model => model.SUPPLIER_NOTIFY, new { htmlAttributes = new { id = "supNotify" } })
                        <label for="supNotify">
                            Get Supplier Notification
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 float-right">
                    <button type="submit" class="btn btn-success btn-block btn-sm">Register</button>
                </div>
            </div>

        }
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="@Url.Action("Login","Accounts")" class="btn btn-block btn-primary">
                <i class="fab fa-user-circle mr-2"></i>
                I already have a membership
            </a>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
