@model Tender.Models.Models.VENDOR_LOGIN
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutRL.cshtml";
}

<h2></h2>


<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="#" class="h1 text-bold mt-1"><b>RF</b>Q</a>
        @*<img src="~/App_Asset/dist/img/pran.png" class="img-fluid" alt="Pran Rfl Group" height="60" width="60" />*@
    </div>
    <div class="card-body">
        <p class="login-box-msg">Enter your verification code</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="input-group mb-3">
                @Html.EditorFor(model => model.VENDOR_EMAIL, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @readonly = "readonly" } })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="tokenNumber" id="tokenNumber" class="form-control" placeholder="Enter code from your mail" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-code"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success btn-block btn-sm">Verify Code</button>
                </div>

            </div>
        }
        <div class="social-auth-links text-center mt-2 mb-3">
            <p>- OR -</p>
            <a href="@Url.Action("Login","Accounts")" class="btn btn-block btn-primary">
                <i class="fab fa-user-circle mr-2"></i>
                I already have a membership
            </a>
            <a href="@Url.Action("Registration","Accounts")" class="btn btn-block btn-primary">
                Register a new membership
            </a>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
