@model Tender.Models.Models.VENDOR_DETAILS

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img src="~/App_Asset/dist/img/user1-128x128.jpg" class="profile-user-img img-fluid img-circle" alt="User profile picture" />
                            </div>
                            <h3 class="profile-username text-center">@Model.ORGANIZATION_NAME</h3>
                            <p class="text-muted text-center mb-0 pd-0">@Model.VENDOR_EMAIL</p>
                            <p class="text-muted text-center">@Model.CONTACT_NUMBER</p>
                        </div>

                    </div>


                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>

                        <div class="card-body mb-0 pb-0">

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">
                                Address : @Model.ADDRESS_1
                                <br /> @Model.ADDRESS_2
                            </p>
                            <hr>
                            <strong><i class="fas fa-business-time mr-1"></i> Business</strong><br />
                            @foreach (var CatItem in Model.VENDOR_CATEGORY)
                            {
                                <span class="badge badge-primary">@CatItem.CATEGORY_NAME</span>
                            }
                            <hr />
                            <strong><i class="fa fa-certificate mr-1"></i> Certificate</strong><br />
                            @foreach (var CatItem in Model.VENDOR_CERTIFICATE)
                            {
                                <span class="badge badge-primary">@CatItem.CERTIFICATE_NAME</span>
                            }
                            <hr />
                            <strong><i class="fa fa-file mr-1"></i> Documents</strong><br />
                            @foreach (var CatItem in Model.VENDOR_DOCUMENTS)
                            {
                                <span class="badge badge-primary">@CatItem.DOCUMENTS_NAME</span>
                            }
                            <hr />
                            <strong><i class="fa fa-list-alt mr-1"></i> Products  </strong>
                            <p>
                                @foreach (var CatItem in Model.VENDOR_PRODUCTS)
                                {
                                    <span> # @CatItem.PRODUCTS_NAME </span>

                                }
                            </p>
                        </div>
                        <span class="ml-3 text-primary">Year of Establishment :&nbsp;  @Model.YEAR_OF_ESTABLISHMENT</span>
                        <span class="ml-3 text-primary">Yearly Trun Over :&nbsp;  @Model.YEARLY_TRUNOVER</span>
                        <span class="ml-3 text-primary">Tax Number :&nbsp;  @Model.TAX_NUMBER</span>
                        <span class="ml-3 text-primary">Trade Number :&nbsp;  @Model.TRADE_NUMBER</span>
                        <span class="ml-3 text-primary">Contact Person  :&nbsp;  @Model.CONTACT_NAME</span>
                        <br />

                    </div>

                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                                <li class="nav-item"><a class="nav-link" href="#UpdateProfile" data-toggle="tab">Update Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Change Password</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    @*<ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                Year of Establishment :  <a class="float-right">@Model.YEAR_OF_ESTABLISHMENT</a>
                                            </li>
                                            <li class="list-group-item">
                                                Yearly Trunover :  <a class="float-right">@Model.YEARLY_TRUNOVER</a>
                                            </li>
                                            <li class="list-group-item">
                                                Number of Employees :  <a class="float-right">@Model.NO_OF_EMPLOYEES</a>
                                            </li>
                                            <li class="list-group-item">
                                                Tax Number :  <a class="float-right">@Model.TAX_NUMBER</a>
                                            </li>
                                            <li class="list-group-item">
                                                Trade Number :  <a class="float-right">@Model.TRADE_NUMBER</a>
                                            </li>
                                            <li class="list-group-item">
                                                Contact Person :  <a class="float-right">@Model.CONTACT_NAME</a>
                                            </li>
                                            <li class="list-group-item">
                                                Contact Number :  <a class="float-right">@Model.CONTACT_NUMBER</a>
                                            </li>

                                        </ul>*@




                                </div>

                                <div class="tab-pane" id="UpdateProfile">
                                    @using (Html.BeginForm("UserProfile", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="card-body">
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.VENDOR_USER_ID, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.VENDOR_USER_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "User Id" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.COUNTRY_NAME, new { @class = "control-label" })
                                                        @Html.DropDownList("COUNTRY_NAME", null, "--Please select--", new { @class = "form-control form-control-sm select2" })

                                                        @*@Html.EditorFor(model => model.COUNTRY_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "User Id" } })*@
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.ADDRESS_1, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ADDRESS_1, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "1st Address" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.ADDRESS_2, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.ADDRESS_2, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "2nd Address" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.YEAR_OF_ESTABLISHMENT, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.YEAR_OF_ESTABLISHMENT, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "1st Address" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.YEARLY_TRUNOVER, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.YEARLY_TRUNOVER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "2nd Address" } })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.YEARLY_TRUNOVER, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.YEARLY_TRUNOVER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "2nd Address" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.TAX_NUMBER, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.TAX_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "1st Address" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.TRADE_NUMBER, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.TRADE_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "2nd Address" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.YEARLY_TRUNOVER, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.YEARLY_TRUNOVER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "2nd Address" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.CONTACT_NAME, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.CONTACT_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Contact Person" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(Model => Model.CONTACT_NUMBER, new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.CONTACT_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Contact Number" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            @Html.EditorFor(model => model.PURCHASER, new { htmlAttributes = new { id = "Purchaser" } })
                                                            <label for="Purchaser">
                                                                Purchaser
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            @Html.EditorFor(model => model.PURCHASER_NOTIFY, new { htmlAttributes = new { id = "purNotify" } })
                                                            <label for="purNotify">
                                                                Get Purchaser Notification
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            @Html.EditorFor(model => model.SUPPLIER, new { htmlAttributes = new { id = "Purchaser" } })
                                                            <label for="Purchaser">
                                                                Supplier
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            @Html.EditorFor(model => model.SUPPLIER_NOTIFY, new { htmlAttributes = new { id = "purNotify" } })
                                                            <label for="purNotify">
                                                                Get Supplier Notification
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.Label("Upload Profile Picture", new { @class = "control-label" })
                                                        <input type="file" name="ProfilePicture" accept=".png, .jpg, .jpeg" /><br />
                                                        <span class="text-success">png,jpg,jpeg format only</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row float-right">
                                                <div class="col-12 float-right">
                                                    <button type="submit" class="btn btn-danger btn-sm">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>

                                <div class="tab-pane" id="settings">

                                    @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-4 col-form-label">User Id</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputName" value="@Model.VENDOR_USER_ID" name="UserId" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" id="inputEmail" value="@Model.VENDOR_EMAIL" name="Email" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-4 col-form-label">Old Password</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" id="inputName2" placeholder="Current Password" name="OldPass" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputExperience" class="col-sm-4 col-form-label">New Password</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" id="inputExperience" placeholder="New Password" name="NewPass" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputSkills" class="col-sm-4 col-form-label">Confirm Password</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" id="inputSkills" placeholder="Confirm Password" name="ConfirmPass" required>
                                            </div>
                                        </div>
                                        <div class="form-group row float-right">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger btn-sm mr-3">Submit</button>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
</div>








@*<h2>UpdateProfile</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>VENDOR_DETAILS</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.VENDOR_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VENDOR_ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VENDOR_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VENDOR_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VENDOR_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VENDOR_EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VENDOR_PASSWD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VENDOR_PASSWD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VENDOR_PASSWD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ORGANIZATION_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ORGANIZATION_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ORGANIZATION_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.COUNTRY_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.COUNTRY_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COUNTRY_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SUPPLIER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.SUPPLIER)
                        @Html.ValidationMessageFor(model => model.SUPPLIER, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PURCHASER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PURCHASER)
                        @Html.ValidationMessageFor(model => model.PURCHASER, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SUPPLIER_NOTIFY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.SUPPLIER_NOTIFY)
                        @Html.ValidationMessageFor(model => model.SUPPLIER_NOTIFY, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PURCHASER_NOTIFY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PURCHASER_NOTIFY)
                        @Html.ValidationMessageFor(model => model.PURCHASER_NOTIFY, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CONTACT_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CONTACT_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CONTACT_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CONTACT_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CONTACT_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CONTACT_NUMBER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ADDRESS_1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ADDRESS_1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ADDRESS_1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ADDRESS_2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ADDRESS_2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ADDRESS_2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YEAR_OF_ESTABLISHMENT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YEAR_OF_ESTABLISHMENT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YEAR_OF_ESTABLISHMENT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YEARLY_TRUNOVER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YEARLY_TRUNOVER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YEARLY_TRUNOVER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NO_OF_EMPLOYEES, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NO_OF_EMPLOYEES, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NO_OF_EMPLOYEES, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TAX_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TAX_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TAX_NUMBER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TRADE_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TRADE_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TRADE_NUMBER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IS_SUBMIT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IS_SUBMIT)
                        @Html.ValidationMessageFor(model => model.IS_SUBMIT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IS_APPROVE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IS_APPROVE)
                        @Html.ValidationMessageFor(model => model.IS_APPROVE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
