@model Tender.Models.Models.VENDOR_DETAILS

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img src="~/App_Asset/dist/img/user1-128x128.jpg" class="profile-user-img img-fluid img-circle" alt="User profile picture" />
                            </div>
                            <h3 class="profile-username text-center">@Model.ORGANIZATION_NAME</h3>
                            <p class="text-muted text-center mb-0 pd-0">@Model.VENDOR_EMAIL</p>
                            <p class="text-muted text-center">@Model.CONTACT_NUMBER</p>
                        </div>

                    </div>


                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <div class="card-body mb-0 pb-0">

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">
                                Address : @Model.ADDRESS_1
                                <br /> @Model.ADDRESS_2
                            </p>
                        </div>


                    </div>

                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#follow" data-toggle="tab">Follow</a></li>
                                <li class="nav-item"><a class="nav-link" href="#UpdateProfile" data-toggle="tab">Update Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Change Password</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="follow">
                                    <strong><i class="fa fa-list-alt mr-1"></i> Products  </strong>
                                    <p>
                                        @foreach (var mItem in Model.VENDOR_PRODUCTS)
                                        {
                                        <label class="m-2 btn btn-sm btn-outline-primary">
                                            @mItem.PRODUCTS_NAME
                                            <input class="v-cer" type="checkbox" id="@mItem.PRODUCTS_ID" checked="@mItem.IS_ACTIVE" />
                                        </label>
                                        }
                                    </p>
                                    <hr />
                                    <strong><i class="fas fa-business-time mr-1"></i> Business</strong><br />
                                    @foreach (var mItem in Model.VENDOR_CATEGORY)
                                    {
                                    <label class="m-2 btn btn-sm btn-outline-primary">
                                        @mItem.CATEGORY_NAME
                                        <input class="v-cat" type="checkbox" id="@mItem.CATEGORY_ID" checked="@mItem.IS_ACTIVE" />
                                    </label>
                                    }
                                    <hr />
                                    <strong><i class="fa fa-certificate mr-1"></i> Certificate</strong><br />
                                    @foreach (var mItem in Model.VENDOR_CERTIFICATE)
                                    {
                                    <label class="m-2 btn btn-sm btn-outline-primary">
                                        @mItem.CERTIFICATE_NAME
                                        <input class="v-cer" type="checkbox" id="@mItem.CERTIFICATE_ID" checked="@mItem.IS_ACTIVE" />
                                    </label>
                                    }
                                    <hr />
                                    <strong><i class="fa fa-file mr-1"></i> Documents</strong><br />
                                    @foreach (var mItem in Model.VENDOR_DOCUMENTS)
                                    {
                                    <label class="m-2 btn btn-sm btn-outline-primary">
                                        @mItem.DOCUMENTS_NAME
                                        <input class="v-cer" type="checkbox" id="@mItem.DOCUMENTS_ID" checked="@mItem.IS_ACTIVE" />
                                    </label>
                                    }
                                </div>

                                <div class="tab-pane" id="UpdateProfile">
                                    @using (Html.BeginForm("UserProfile", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.ORGANIZATION_NAME)
                                        @Html.HiddenFor(model => model.COUNTRY_NAME)
                                        @Html.HiddenFor(model => model.VENDOR_EMAIL)
                                        @Html.HiddenFor(model => model.VENDOR_PASSWD)

                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="VENDOR_USER_ID" class="control-label"> User Id</label>
                                                    @Html.EditorFor(model => model.VENDOR_USER_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = true } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="CONTACT_NAME" class="control-label"> Contact</label>
                                                    @Html.EditorFor(model => model.CONTACT_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Contact Person" } })
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="CONTACT_NUMBER" class="control-label"> Contact Number</label>
                                                    @Html.EditorFor(model => model.CONTACT_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Contact Number" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="ADDRESS_1" class="control-label"> Present Address</label>
                                                    @Html.EditorFor(model => model.ADDRESS_1, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Present Address" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="ADDRESS_2" class="control-label"> Permanent Address</label>
                                                    @Html.EditorFor(model => model.ADDRESS_2, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Permanent Address" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="YEAR_OF_ESTABLISHMENT" class="control-label"> Establishment Year</label>
                                                    @Html.EditorFor(model => model.YEAR_OF_ESTABLISHMENT, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Establishment Year" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="YEARLY_TRUNOVER" class="control-label"> Yearly Turnover</label>
                                                    @Html.EditorFor(model => model.YEARLY_TRUNOVER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Yearly Turnover" } })
                                                </div>
                                            </div>

                                        </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="NO_OF_EMPLOYEES" class="control-label"> Number of Employee</label>
                                                        @Html.EditorFor(model => model.NO_OF_EMPLOYEES, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "50-100 People" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="TAX_NUMBER" class="control-label"> TAX/TIN</label>
                                                        @Html.EditorFor(model => model.TAX_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "TAX/TIN" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="TRADE_NUMBER" class="control-label"> Trade Number</label>
                                                        @Html.EditorFor(model => model.TRADE_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Trade License Number" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" id="PURCHASER_X" name="PURCHASER_X" />
                                                            <label for="PURCHASER_X"> Purchaser</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" id="PURCHASER_NOTIFY_X" name="PURCHASER_NOTIFY_X" />
                                                            <label for="PURCHASER_NOTIFY_X">
                                                                Get Purchaser Notification
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" id="SUPPLIER_X" name="SUPPLIER_X" />
                                                            <label for="SUPPLIER_X">
                                                                Supplier
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" id="SUPPLIER_NOTIFY_X" name="SUPPLIER_NOTIFY_X" />
                                                            <label for="SUPPLIER_NOTIFY_X">
                                                                Get Supplier Notification
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        @Html.Label("Upload Profile Picture", new { @class = "control-label" })
                                                        <input type="file" name="ProfilePicture" accept=".png, .jpg, .jpeg" /><br />
                                                        <span class="text-success">png,jpg,jpeg format only</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row float-right">
                                                <div class="col-12 float-right">
                                                    <button type="submit" class="btn btn-danger btn-sm">Submit</button>
                                                </div>
                                            </div>
                                    }

                                </div>

                                <div class="tab-pane" id="settings">
                                    @Html.Partial("_Changepassword", Model.CHANGE_PASWD)
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
