@model Tender.Models.Models.VENDOR_DETAILS

@{
    ViewBag.Title = "ViewProfile";
}

<h2>ViewProfile</h2>

<div>
    <h4>VENDOR_DETAILS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VENDOR_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENDOR_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENDOR_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENDOR_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENDOR_PASSWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENDOR_PASSWD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGANIZATION_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGANIZATION_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPPLIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PURCHASER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PURCHASER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPPLIER_NOTIFY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIER_NOTIFY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PURCHASER_NOTIFY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PURCHASER_NOTIFY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACT_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACT_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEAR_OF_ESTABLISHMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEAR_OF_ESTABLISHMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEARLY_TRUNOVER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEARLY_TRUNOVER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NO_OF_EMPLOYEES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO_OF_EMPLOYEES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAX_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAX_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRADE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRADE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_SUBMIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_SUBMIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_APPROVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_APPROVE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
