@model IEnumerable<Tender.Models.Models.VENDOR_DETAILS>
@{
    ViewBag.Title = "Supplier List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="card card-solid">
        <div class="card-body">

            <div class="card card-primary card-outline mt-3">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list"></i>
                        @ViewBag.Title  &nbsp;&nbsp; <small>@System.DateTime.Now</small>
                    </h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ViewAllSupplier", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                @Html.DropDownList("COUNTRY_NAME", null, "-Select-", new { @class = "form-control form-control-sm select2", name = "COUNTRY_NAME", placeholder = "", style = "width:100%;" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label for="VENDOR_USER_ID" class="control-label"> Company</label>
                                @Html.DropDownList("COM_ID_FOR_PUR", null, new { @class = "form-control form-control-sm select2", name = "COM_ID_FOR_PUR", placeholder = "", @ReadOnly="readonly", style = "width:100%;" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label for="VENDOR_USER_ID" class="control-label"> Product Group</label>
                                @Html.DropDownList("GROUP_ID", null, "-Select-", new { @class = "form-control form-control-sm select2", name = "GROUP_ID", placeholder = "",style="width:100%;" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group mt-sm-2">
                                <button type="submit" class="btn btn-sm btn-success  mt-sm-4">Find</button>
                            </div>
                        </div>
                    </div>
                    }
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped table-hover table-responsive-md" style="width:100%">
                            <thead>
                                <tr class="table-secondary">
                                    <th>Details</th>
                                    <th>Organization</th>
                                    <th>Country</th>
                                    <th>Mail</th>
                                    <th>Address</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("supplierProfile", "Accounts", new {id = item.VENDOR_ID })" class="btn btn-sm  btn-outline-success">View Details</a></td>
                                            <td>@item.ORGANIZATION_NAME</td>
                                            <td>@item.COUNTRY_NAME</td>
                                            <td>@item.VENDOR_EMAIL</td>
                                            <td> @item.ADDRESS_1 </td>
                                            <td>
                                                @if (item.LOCK_UNLOCK == 0)
                                                {
                                                    <a href="@Url.Action("ProfileLockUnlock","Accounts",new {vendorId =item.VENDOR_ID,StatusFlag=1})"><i class='fas fa-lock-open' style='font-size:30px;color:forestgreen'></i></a>
                                                }
                                                else if (item.LOCK_UNLOCK == 1)
                                                {
                                                    <a href="@Url.Action("ProfileLockUnlock","Accounts",new {vendorId =item.VENDOR_ID,StatusFlag=0})"><i class='fas fa-lock' style='font-size:30px;color:red'></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>

    </div>

</section>









@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(function () {
                $("#example1").DataTable({
                    "responsive": true, "lengthChange": true, "autoWidth": true,
                    "buttons": false

                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });
        });
    </script>

}
