@model IEnumerable<Tender.Models.Models.RFQ_BIDDING>
@{
    ViewBag.Title = "Compare Tender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="col-12">
                        @if (Model.Select(c=>c.IMAGE_PATH).FirstOrDefault() != null)
                        {
                            <img src="~/@Model.Select(c=>c.IMAGE_PATH).FirstOrDefault()" class="product-image img-fluid" alt="Product Image" />
                        }
                        else
                        {
                            <img src="~/App_Asset/dist/img/noImage.jpg" class="product-image img-fluid" alt="Product Image" />
                        }

                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <h4 class="my-3">Tender Number :<span class="text-primary"> # @Model.Select(c => c.RFQ_NUMBER).FirstOrDefault()</span> </h4>
                    <h6 class="my-3">Item :<span class="text-success"> @Model.Select(c => c.PRODUCTS_ID).FirstOrDefault()</span></h6>
                    <p>About Tender : @Model.Select(c => c.PRODUCTS_DESC).FirstOrDefault() </p>
                    <p>Start To End Date : @Model.Select(c => c.START_DATE).FirstOrDefault().ToString("yyyy-MM-dd") To @Model.Select(c => c.END_DATE).FirstOrDefault().ToString("yyyy-MM-dd") </p>
                    <p>Last Deliver Date : @Model.Select(c => c.LAST_DELIVERY_DATE).FirstOrDefault().ToString("yyyy-MM-dd") </p>
                    <hr />
                    <h5>Remaning</h5>
                    <input type="hidden" value="@Model.Select(c => c.END_DATE).FirstOrDefault().ToString("yyyy-MM-dd")" class="endDate" />
                    <span class="text-danger text-bold" id="auc_end"></span>
                    <hr />
                    <div class="row">
                        <div class="col">Partial Shipment : @Model.Select(c => c.PARTIAL_SHIPMENT).FirstOrDefault() </div>
                        <div class="col">Shipment Mode : @Model.Select(c => c.TENDER_SHIPMENT_MODE).FirstOrDefault() </div>
                        <div class="col">Port : @Model.Select(c => c.TENDER_PORT_ID).FirstOrDefault() </div>
                    </div>
                    <div class="row">
                        <div class="col">Delivery Location : @Model.Select(c => c.DELIVERY_ADDRESS).FirstOrDefault() </div>
                        <div class="col">Receiver Name : @Model.Select(c => c.RECEIVER_NAME).FirstOrDefault() </div>
                        <div class="col">Receiver Details : @Model.Select(c => c.RECEIVER_DETAILS).FirstOrDefault() </div>
                    </div>


                </div>
            </div>
            <br />
            <div class="card card-primary card-outline mt-3">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list"></i>
                        @ViewBag.Title  &nbsp;&nbsp; <small>@System.DateTime.Now</small>
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover table-responsive-md">
                        <thead>
                            <tr class="table-secondary">
                                <th>Details</th>
                                <th>Quote Number</th>
                                <th>Bidders company</th>
                                <th>Submit Date</th>
                                <th>Bidding Rate</th>
                                <th>Bidding Quantity</th>
                                <th>Confirm</th>
                                <th>View Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr data-widget="expandable-table" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Click For Details">
                                <td><a class="btn btn-sm  btn-outline-success">View Details</a></td>
                                <td>@item.QUOTE_NUMBER</td>
                                <td>@item.VENDOR_NAME</td>
                                <td>@item.SUBMIT_DATE.ToString("yyyy-MM-dd")</td>
                                <td>@item.PRODUCTS_RATE</td>
                                <td>@item.PRODUCTS_QUANTITY</td>
                                <td>
                                    @if (item.APPROVAL_ID == "0")
                                    {
                                        <a class="btn btn-sm  btn-outline-danger" href="@Url.Action("ApproveTender", "Tender", new { rfqNumber = item.RFQ_NUMBER, quotNumber = item.QUOTE_NUMBER, vendorId = item.VENDOR_ID })">
                                            Confirm
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm  btn-outline-danger">
                                            Lock
                                        </a>
                                    }
                                </td>
                                <td><a class="btn btn-sm  btn-outline-primary"href="@Url.Action("supplierProfile", "Accounts", new {id = item.VENDOR_ID })" >View Profile</a></td>

                            </tr>
                                    <tr class="expandable-body table-active">
                                        <td colspan="8">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <span class="text-bold">RFQ Product Details :</span> @item.TND_PRODUCTS_DESC <br />
                                                    <span class="text-bold">RFQ Port Name :</span> @item.TENDER_PORT_ID <br />
                                                    <span class="text-bold">RFQ Shipment Mode :</span> @item.TENDER_SHIPMENT_MODE <br />
                                                    <span class="text-bold">Delivery Address :</span> @item.LOADING_ADDRESS <br />
                                                    <span class="text-bold">Receiver Name :</span> @item.RECEIVER_NAME <br />
                                                    <span class="text-bold">Shipment Mode :</span> @item.RECEIVER_DETAILS <br />
                                                    <hr />
                                                </div>
                                                <div class="col-md-6 ">
                                                    <span class="text-bold">Quot Product Details :</span> @item.PRODUCTS_DESC <br />
                                                    <span class="text-bold">Quot Port Name :</span> @item.Q_PORT_NAME <br />
                                                    <span class="text-bold">Quot Shipment Mode :</span> @item.Q_SHIPMENT_MODE <br />
                                                    <span class="text-bold"> Loading Address :</span> @item.DELIVERY_ADDRESS <br />
                                                    <span class="text-bold"> Source Name :</span> @item.SENDER_NAME <br />
                                                    <span class="text-bold"> Source Details :</span> @item.SENDER_DETAILS <br />
                                                    <hr />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>

</section>









@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            setInterval("dateimeFunction()", 1000);

            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
        })
        function dateimeFunction() {
            var endDateTime = $('.endDate').val();
            var diffTime = Math.abs(new Date().valueOf() - new Date(endDateTime).valueOf());
            var days = diffTime / (24 * 60 * 60 * 1000);
            var hours = (days % 1) * 24;
            var minutes = (hours % 1) * 60;
            var secs = (minutes % 1) * 60;
            [days, hours, minutes, secs] = [Math.floor(days), Math.floor(hours), Math.floor(minutes), Math.floor(secs)]
            $('#auc_end').text("" + days + "d   " + hours + "h   " + minutes + "m   " + secs + "s");
        }
    </script>

}