@model Tender.Models.Models.RFQ_BIDDING
@{
    ViewBag.Title = "Quotation Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>


<div class="card card-primary card-outline mt-3">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-tag"></i>
            @ViewBag.Title  &nbsp;&nbsp; <small>@System.DateTime.Now</small>
        </h3>
    </div>
    <div class="card-body">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-success">
                        <th>Title</th>
                        <th>Your Org</th>
                        <th>@Model.VENDOR_ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tender Rate</td>
                        <td>@Model.QUOTATION_PRODUCTS_RATE</td>
                        <td>@Model.PRODUCTS_RATE</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>@Model.QUOTATION_PRODUCTS_RATE</td>
                        <td>@Model.PRODUCTS_RATE</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    </script>

}

