@model Tender.Models.Models.RFQ_TENDER

@{
    ViewBag.Title = "Submit Tender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary card-outline mt-3">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-tag"></i>
            @ViewBag.Title  &nbsp;&nbsp; <small>@System.DateTime.Now</small>
        </h3>
    </div>
    <div class="card-body">
        <div class="card-footer row">
            <div class="col-md-3 col-sm-4 mb-2">
                <a class="btn btn-block btn-lg  btn-primary" id="tndDetails">
                    Tender Information
                    <i class="fa fa-file"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-4  mb-2">
                <a class="btn btn-block btn-lg btn-outline-primary" id="tndItem">
                    Item Information
                    <i class="fa fa-list-alt"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 mb-2">
                <a class="btn btn-block btn-lg btn-outline-primary" id="tndShipment">
                    Shipment Details
                    <i class="fas fa-shipping-fast"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-4 mb-2">
                <a class="btn btn-block btn-lg btn-outline-primary" id="tndPayment">
                    Payment Details
                    <i class="fa fa-credit-card"></i>
                </a>
            </div>
        </div>
        @using (Html.BeginForm("SubmitTender", "Tender", FormMethod.Post, new { @id = "formPost", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row" id="detailsBody">
                <div class="col-md-12">
                    <div class="card-body pad row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">RFQ Number</label>
                                @Html.EditorFor(model => model.RFQ_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Tender Number", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(m => m.RFQ_NUMBER, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Company</label>
                                @Html.DropDownList("VENDOR_ID", null, new { @class = "form-control form-control-sm select2", @readonly = "readonly", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.VENDOR_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Start Date</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.START_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "date", placeholder = "Start Date" } })
                                @Html.ValidationMessageFor(m => m.START_DATE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">End Date</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.END_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "date", placeholder = "End Date" } })
                                @Html.ValidationMessageFor(m => m.END_DATE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Local/Importer</label> <span class="text-danger">*</span>
                                @Html.DropDownList("LOCAL_IMPORT", ViewBag.LOCAL_IMPORT as List<SelectListItem>, "-Select-",new { @class = "form-control form-control-sm select2", style = "width:100%", @onchange = "importertype();" })
                                @Html.ValidationMessageFor(m => m.LOCAL_IMPORT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Tender Type</label> <span class="text-danger">*</span>
                                @Html.DropDownList("SELL_BUY", null, new { @class = "form-control form-control-sm select2", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.SELL_BUY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Submission Type</label> <span class="text-danger">*</span>
                                @Html.DropDownList("RE_BID", null, new { @class = "form-control form-control-sm select2", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.RE_BID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Quotation Rate Range</label> <span class="text-danger">*</span>
                                @Html.DropDownList("LOWER_RATE", null, new { @class = "form-control form-control-sm select2", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.LOWER_RATE, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="col-md-3 col-sm-6 forImpoter">
                            <div class="form-group">
                                <label class="control-label">Incoterms</label>
                                @Html.DropDownList("INCO_TERMS", null, new { @class = "form-control form-control-sm select2", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.INCO_TERMS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Cost Exclude/Include</label> <span class="text-danger">*</span>
                                @Html.DropDownList("COST_EX_INC", null, new { @class = "form-control form-control-sm select2", id = "COST_EX_INC", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.COST_EX_INC, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="float-right">
                        <button type="button" id="nxtTndr" class="btn btn-success">Next</button>
                    </div>
                </div>
            </div>

            <div class="row" id="itemBody" style="display:none;">
                <div class="col-md-12">
                    <div class="card-body pad row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product</label> <span class="text-danger">*</span>
                                @Html.DropDownList("PRODUCTS_ID", null, new { @class = "form-control form-control-sm select2", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.PRODUCTS_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Rate</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.PRODUCTS_RATE, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Rate" } })
                                @Html.ValidationMessageFor(m => m.PRODUCTS_RATE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Quantity</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.PRODUCTS_QUANTITY, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Quantity" } })
                                @Html.ValidationMessageFor(m => m.PRODUCTS_QUANTITY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product Details</label>
                                @Html.EditorFor(model => model.PRODUCTS_DESC, new { htmlAttributes = new { @class = "form-control form-control-sm", row = "1", placeholder = "Product Detils" } })
                                @Html.ValidationMessageFor(m => m.PRODUCTS_DESC, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Select Documents</label> <span class="text-danger">*</span>
                                @Html.DropDownList("TENDER_DOC", null, "-Select-", new { @class = "form-control form-control-sm select2", id = "DOCUMENTS_LIST_ID", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.PRODUCTS_DESC, "", new { @class = "text-danger" })

                            </div>
                            <span><button type="button" id="addDocItem" class="btn btn-info btn-sm">Add!</button></span>
                        </div>
                        <div class="col-md-4 col-sm-6" style="display:none;" id="docDiv">
                            <div class="form-group mt-3">
                                <div class="table-responsive">
                                    <table id="rdocuments" class="table">
                                        <thead>
                                            <tr>
                                                <th>Document List</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="button" id="prvItem" class="btn btn-secondary">Previous</button>
                        <button type="button" id="nxtItem" class="btn btn-success">Next</button>
                    </div>
                </div>
            </div>

            <div class="row" id="shipmentBody" style="display:none;">
                <div class="col-md-12">
                    <div class="card-body pad row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Last Delivery Date</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.LAST_DELIVERY_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "date", placeholder = "last Delivery Date" } })
                                @Html.ValidationMessageFor(m => m.LAST_DELIVERY_DATE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 forImpoter">
                            <div class="form-group">
                                <label class="control-label">Port Name</label> <span class="text-danger">*</span>
                                @Html.DropDownList("PORT_ID", ViewBag.PORT_ID as List<SelectListItem>, "-Select-", new { @class = "form-control form-control-sm select2", id = "PORT_ID", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.PORT_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 forImpoter">
                            <div class="form-group">
                                <label class="control-label">Partial Shipment</label> <span class="text-danger">*</span>
                                @Html.DropDownList("PARTIAL_SHIPMENT", null, new { @class = "form-control form-control-sm select2", id = "PARTIAL_SHIPMENT", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.PARTIAL_SHIPMENT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 forImpoter">
                            <div class="form-group">
                                <label class="control-label">Shipment Mode</label> <span class="text-danger">*</span>
                                @Html.DropDownList("SHIPMENT_MODE", ViewBag.SHIPMENT_MODE as List<SelectListItem>, "-Select-", new { @class = "form-control form-control-sm select2", id = "SHIPMENT_MODE", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.SHIPMENT_MODE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Deliver Address</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.DELIVERY_ADDRESS, new { htmlAttributes = new { @class = "form-control form-control-sm", row = "1", placeholder = "Delivery Address" } })
                                @Html.ValidationMessageFor(m => m.DELIVERY_ADDRESS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Receiver</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.RECEIVER_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", row = "1", placeholder = "Receiver Name" } })
                                @Html.ValidationMessageFor(m => m.RECEIVER_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Receiver Details</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.RECEIVER_DETAILS, new { htmlAttributes = new { @class = "form-control form-control-sm", row = "1", placeholder = "Receiver Details" } })
                                @Html.ValidationMessageFor(m => m.RECEIVER_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <button type="button" id="prvShpmt" class="btn btn-secondary">Previous</button>
                    <button type="button" id="nxtShpmt" class="btn btn-success">Next</button>
                </div>
            </div>

            <div class="row" id="paymentBody" style="display:none;">
                <div class="col-md-12">
                    <div class="card-body pad row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Currency</label> <span class="text-danger">*</span>
                                @Html.DropDownList("CURRENCY_NAME", null, new { @class = "form-control form-control-sm select2", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.CURRENCY_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Currency Rate</label>
                                @Html.EditorFor(model => model.CURRENCY_RATE, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "currency Rate" } })
                                @Html.ValidationMessageFor(m => m.CURRENCY_RATE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Pay Mode A</label> <span class="text-danger">*</span>
                                @Html.DropDownList("PAY_A", null, new { @class = "form-control form-control-sm select2", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.PAY_A, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Pay Mode A Percent</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.PAY_AP, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Payment Mode A (%)" } })
                                @Html.ValidationMessageFor(m => m.PAY_AP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Payment Mode B</label> <span class="text-danger">*</span>
                                @Html.DropDownList("PAY_B", null, new { @class = "form-control form-control-sm select2", placeholder = "", style = "width:100%" })
                                @Html.ValidationMessageFor(m => m.PAY_B, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Pay Mode B Percent</label> <span class="text-danger">*</span>
                                @Html.EditorFor(model => model.PAY_BP, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Payment Mode B (%)" } })
                                @Html.ValidationMessageFor(m => m.PAY_BP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="float-right">
                        <button type="button" id="prvPymt" class="btn btn-secondary">Previous</button>
                        <button type="submit" class="btn btn-danger" id="save2db">Submit Tender</button>
                    </div>
                </div>
            </div>


        }

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };

            $(".forImpoter").css("display", "none")

            $("#tndDetails").click(function () {
                divActTender();
            });
            $("#tndItem").click(function () {
                divActItem();
            });
            $("#tndShipment").click(function () {
                divActShipment();
            });
            $("#tndPayment").click(function () {
                divActPayment();
            });



            $("#nxtTndr").click(function () {
                divActItem();
            });
            $("#prvItem").click(function () {
                divActTender();
            });
            $("#nxtItem").click(function () {
                divActShipment();
            });
            $("#prvShpmt").click(function () {
                divActItem();
            });
            $("#nxtShpmt").click(function () {
                divActPayment();
            });
            $("#prvPymt").click(function () {
                divActShipment();
            });




            $("#addDocItem").click(function (e) {
                e.preventDefault();


                var docId = $.trim($("#DOCUMENTS_LIST_ID :selected").val()),
                    docName = $.trim($("#DOCUMENTS_LIST_ID :selected").text()),
                    rdocumentsBody = $("#rdocuments tbody");

                if (docId == "" || docName == "") {
                    Swal.fire('warning', 'Select a valid documents', 'warning');
                    return;
                };
                $("#docDiv").css("display", "block");
                var rdocumentsItem = '<tr><td><select><option value="' + docId + '">' + docName + '</option></select></td><td><a data-itemId="0" href="#" class="deleteItem btn btn-danger btn-xs">Delete</a></td></tr>';
                rdocumentsBody.append(rdocumentsItem);
                clearItem();
            });

            function clearItem() {
                $("#DOCUMENTS_LIST_ID :selected").remove();
            }
            $('#rdocuments tbody').on('click', 'tr .deleteItem', function (e) {
                e.preventDefault();
                $(this).closest('tr').fadeOut("slow", function () {
                    var dataId = $(this).find('td:eq(0)').find('select').val();
                    var dataName = $(this).find('td:eq(0)').find('select').text();
                    $("#DOCUMENTS_LIST_ID").append(new Option(dataName, dataId));
                    $(this).remove();
                })
            });


            $("#save2db").on("click", function () {
                var listName = "RFQ_TNDR_DOCUMENTS";
                var qtd = 0;
                $("#rdocuments > tbody > tr").each(function () {
                    var docId = $(this).find('td:eq(0)').find('select').val(); //DOCUMENTS_ID
                    var docName = $(this).find('td:eq(1)').find('select').text(); //DOCUMENTS_NAME

                    if (docId == "") {
                        //  Swal.fire('warning', 'enter a valid documents', 'warning');
                        return;
                    }
                    $("#formPost").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].DOCUMENTS_ID' value='" + docId + "'>");
                    $("#formPost").prepend("<input type='hidden' name='" + listName + "[" + qtd + "].DOCUMENTS_NAME' value='" + docName + "'>");
                    qtd += 1;
                });
            });
        });

        function importertype() {
            var LOCAL_IMPORT = $("#LOCAL_IMPORT").val();
            if (LOCAL_IMPORT == 2) {
                $(".forImpoter").css("display", "block");
            }
            else if (LOCAL_IMPORT == 1) {
                // $(".forImpoter").css("display", "none");
               // $("#SHIPMENT_MODE").val(0);
                $("#PARTIAL_SHIPMENT").val("");
               // $("#PORT_ID").val("");
            }
            var url = 'DropDownFor_Port';
            var LOCAL_IMPORT = $('#LOCAL_IMPORT').val();
            var PORT_ID = $('#PORT_ID');
            PORT_ID.empty();
          //  PORT_ID.append($("<option></option>").attr("value", '').text('--Select--'));
            $.getJSON(url, { portno: LOCAL_IMPORT }, function (response) {
                $.each(response, function (index, item) {
                    PORT_ID.append($("<option></option>").attr("value", item.Value).text(item.Text));
                });
            });
            debugger
            var url1 = 'DropDownFor_shipmentMode';
            var LOCAL_IMPORT = $('#LOCAL_IMPORT').val();
            var SHIPMENT_MODE = $('#SHIPMENT_MODE');
            SHIPMENT_MODE.empty();
            $.getJSON(url1, { portno: LOCAL_IMPORT }, function (response) {
                $.each(response, function (index, item) {
                    SHIPMENT_MODE.append($("<option></option>").attr("value", item.Value).text(item.Text));
                });
            });

        }

        function divActTender() {
            $("#detailsBody").css("display", "block");
            $("#itemBody").css("display", "none");
            $("#shipmentBody").css("display", "none");
            $("#paymentBody").css("display", "none");

            $("#tndDetails").removeClass("btn-outline-primary");
            $("#tndDetails").addClass("btn-primary");
            $("#tndItem").removeClass("btn-primary");
            $("#tndItem").addClass("btn-outline-primary");
            $("#tndShipment").removeClass("btn-primary");
            $("#tndShipment").addClass("btn-outline-primary");
            $("#tndPayment").removeClass("btn-primary");
            $("#tndPayment").addClass("btn-outline-primary");
        }

        function divActItem() {
            $("#detailsBody").css("display", "none");
            $("#itemBody").css("display", "block");
            $("#shipmentBody").css("display", "none");
            $("#paymentBody").css("display", "none");

            $("#tndItem").removeClass("btn-outline-primary");
            $("#tndItem").addClass("btn-primary");
            $("#tndDetails").removeClass("btn-primary");
            $("#tndDetails").addClass("btn-outline-primary");
            $("#tndShipment").removeClass("btn-primary");
            $("#tndShipment").addClass("btn-outline-primary");
            $("#tndPayment").removeClass("btn-primary");
            $("#tndPayment").addClass("btn-outline-primary");
        }

        function divActShipment() {
            $("#detailsBody").css("display", "none");
            $("#itemBody").css("display", "none");
            $("#shipmentBody").css("display", "block");
            $("#paymentBody").css("display", "none");

            $("#tndShipment").removeClass("btn-outline-primary");
            $("#tndShipment").addClass("btn-primary");
            $("#tndDetails").removeClass("btn-primary");
            $("#tndDetails").addClass("btn-outline-primary");
            $("#tndItem").removeClass("btn-primary");
            $("#tndItem").addClass("btn-outline-primary");
            $("#tndPayment").removeClass("btn-primary");
            $("#tndPayment").addClass("btn-outline-primary");
        }

        function divActPayment() {
            $("#detailsBody").css("display", "none");
            $("#itemBody").css("display", "none");
            $("#shipmentBody").css("display", "none");
            $("#paymentBody").css("display", "block");

            $("#tndDetails").removeClass("btn-primary");
            $("#tndDetails").addClass("btn-outline-primary");
            $("#tndItem").removeClass("btn-primary");
            $("#tndItem").addClass("btn-outline-primary");
            $("#tndShipment").removeClass("btn-primary");
            $("#tndShipment").addClass("btn-outline-primary");
            $("#tndPayment").removeClass("btn-outline-primary");
            $("#tndPayment").addClass("btn-primary");
        }
    </script>
}

