@model Tender.Models.Models.RFQ_BIDDING

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="col-12">
                        @if (Model.IMAGE_PATH != null)
                        {
                            <img src="~/@Model.IMAGE_PATH" class="product-image img-fluid" alt="Product Image" />
                        }
                        else
                        {
                            <img src="~/App_Asset/dist/img/noImage.jpg" class="product-image img-fluid" alt="Product Image" />
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <h4 class="my-3">Company :@Model.COMPANY_NAME </h4>
                    <h4 class="my-3">RFQ Number :<span class="text-primary">@Model.RFQ_NUMBER</span> </h4>
                    <h6 class="my-3">Item :<span class="text-success"> @Model.TND_PRODUCTS_NAME</span></h6>
                    <p>Item Description : @Model.TND_PRODUCTS_DESC </p>
                    <p>Tender Type : @Model.SELL_BUY </p>
                    <hr>
                    <h5>This Auction Ends in</h5>
                    <input type="hidden" value="@Model.END_DATE.ToString("yyyy-MM-dd")" class="endDate" />
                    <span class="text-danger text-bold" id="auc_end"></span><small>(BD Standard Time)</small>
                    <hr />
                    <div class="row">
                        <div class="col">Total Bids : @Model.TOTAL_BIDDING </div>
                    </div>

                    <div class="btn-default py-2 px-0 mt-4">
                        <h5 class="mb-0">
                            Rate :   @Model.TND_PRODUCTS_RATE @Model.CURRENCY_NAME, Quantity : @Model.TND_PRODUCTS_QTY @Model.UNIT
                        </h5>
                    </div>

                    <div class="row mt-2">
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("SupplierList", "Accounts", new { RFQ_NUMBER = Model.RFQ_NUMBER})" target="_blank">Supplier List For This RFQ</a>
                    </div>
                    <div class="row mt-2">
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("NewRfqNotifySend", "Rfq",Model)" target="_blank">Send Mail Notification to Supplier List</a>
                    </div>
                </div>
            </div>
            <br />
            <div class="card-footer row">
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndDetails">
                        Tender Information
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4  mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndItem">
                        Item Information
                        <i class="fa fa-list-alt"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 mb-2">
                    <a class="btn btn-block btn-lg btn-outline-primary" id="tndShipment">
                        Shipment Details
                        <i class="fas fa-shipping-fast"></i>
                    </a>
                </div>
            </div>
            <div class="row" id="detailsBody">
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Number   : </span><span class="mb-3">@Model.RFQ_NUMBER</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">RFQ Type  : </span><span class="mb-3">@Model.SELL_BUY</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Bidding type : </span><span class="mb-3">@Model.RE_BID</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3"> Quotation Rate Range : </span><span class="mb-3">@Model.LOWER_RATE</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Quotation Submit Start:  : </span><span class="mb-3">@Model.START_DATE.ToString("dd-MMM-yyyy")<small>(BD Standard Time)</small></span> 
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Quotation Submit End: : </span><span class="mb-3"> @Model.END_DATE.ToString("dd-MMM-yyyy") <small>(BD Standard Time)</small></span>
                </div>
                               
            </div>

            <div class="row" id="itemBody" style="display:none;">
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Product Name  : </span><span class="mb-3">@Model.TND_PRODUCTS_NAME</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Tender Rate  : </span><span class="mb-3">@Model.TND_PRODUCTS_RATE</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Product Quantity : </span><span class="mb-3">@Model.TND_PRODUCTS_QTY</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3"> Unit : </span><span class="mb-3">@Model.UNIT</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Tender Product Description : </span><span class="mb-3">@Model.TND_PRODUCTS_DESC</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Tender Documents : </span>
                    @if (Model.RFQ_TNDR_DOCUMENTS.Count() > 0)
                    {
                        foreach (var item in Model.RFQ_TNDR_DOCUMENTS)
                        {
                            <span class="badge badge-success">@item.DOCUMENTS_NAME</span>
                        }
                    }
                </div>
            </div>

            <div class="row" id="shipmentBody" style="display:none;">
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold mb-3">Partial ShipMent  : </span><span class="mb-3">@Model.PARTIAL_SHIPMENT</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Last Shipment Date  :</span><span>@Model.LAST_DELIVERY_DATE.ToString("dd-MMMM-yyyy") <small>(BD Standard Time)</small></span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Shipment Mode  :</span><span>@Model.TENDER_SHIPMENT_MODE</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Port Name  :</span><span>@Model.TENDER_PORT_ID</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold">Receiver Name  :</span><span>@Model.RECEIVER_NAME</span>
                </div>
                <div class="col-md-12 mb-3 ml-3">
                    <span class="text-bold"> Receiver Details  :</span><span>@Model.RECEIVER_DETAILS</span>
                </div>
            </div>



        </div>

    </div>

</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/App_Asset/js/bid.js"></script>
    <script>
        $(document).ready(function () {
            setInterval("dateimeFunction()", 1000);
        })
        function dateimeFunction() {
            var endDateTime = $('.endDate').val();
            var diffTime = Math.abs(new Date().valueOf() - new Date(endDateTime).valueOf());
            var days = diffTime / (24 * 60 * 60 * 1000);
            var hours = (days % 1) * 24;
            var minutes = (hours % 1) * 60;
            var secs = (minutes % 1) * 60;
            [days, hours, minutes, secs] = [Math.floor(days), Math.floor(hours), Math.floor(minutes), Math.floor(secs)]
            $('#auc_end').text("" + days + "d   " + hours + "h   " + minutes + "m   " + secs + "s");
        }
    </script>

}
