
@model IPagedList<Tender.Models.Models.RFQ_TenderView>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "View All";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        @@media screen and (max-width: 662px) {
            .pagination {
                font-size: 12px;
            }
        }

        .ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
            margin-left: 20px;
        }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: red;
                background-color: lightsteelblue;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

                ul.pagination li a.active {
                    background-color: powderblue;
                    color: brown;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: gray;
                }
    </style>
}

<div class="row mt-2">
    @if (Model != null)
    {
        foreach (var item in Model)
        {

            TimeSpan diffTime = item.END_DATE - DateTime.Now;
            <div class="col-sm-6 col-md-3 tndDiv">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h2 class="card-title">Tender Code <span class="text-bold"># @item.RFQ_NUMBER</span></h2>
                    </div>
                    <div class="card-body">
                        <input type="hidden" value="@item.END_DATE.ToString("yyyy-MM-dd")" class="endDate" />
                        <p>@item.PRODUCTS_NAME</p>
                        <p>Rate : @item.PRODUCTS_RATE</p>
                        <p>Quantity : @item.PRODUCTS_QUANTITY (@item.UNIT)</p>
                        <p>Tender Type : @item.SELL_BUY</p>
                        <span class="diffDateValue text-danger">
                        </span><small>(BD Standard Time)</small>
                        <br />
                        <span class="text-success">Submitted Bids : @item.SUBMITED_BIDS</span>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-danger btn-sm btn-block" href="@Url.Action("TenderDetails","Tender",new { id = item.RFQ_NUMBER })">View Details</a>
                    </div>
                </div>
            </div>

        }

    }

</div>

<div id="container" class="col-4 text-center">
    <p></p>
    <p></p>
    <div class="pagination text-center">
        <div class="pagination-container mt-2 mr-2">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
        </div>   <br />  @Html.PagedListPager(Model, page => Url.Action("ViewPendingApprovalTnd", new { page }))
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {
            setInterval("dateimeFunction()", 1000);
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
        })
        function dateimeFunction() {
            $(".tndDiv").each(function () {
                var endDateTime = $(this).find(".endDate").val();
                let diffTime = Math.abs(new Date().valueOf() - new Date(endDateTime).valueOf());
                let days = diffTime / (24 * 60 * 60 * 1000);
                let hours = (days % 1) * 24;
                let minutes = (hours % 1) * 60;
                let secs = (minutes % 1) * 60;
                [days, hours, minutes, secs] = [Math.floor(days), Math.floor(hours), Math.floor(minutes), Math.floor(secs)]
                //   console.log(days + ' days', hours + ' hours', minutes + ' minutes', secs + ' secs');

                $(this).children('div.card').children('div.card-body').children('span.diffDateValue').text("" + days + "d   " + hours + "h   " + minutes + "m   " + secs + "s");

            });
        }

</script>

}

