<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFQ 0.0.2 | @ViewBag.Title</title>
    <link href="~/App_Asset/dist/img/rfqHomePage.jpg" rel="shortcut icon" type="image/x-icon" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/App_Asset/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/App_Asset/dist/css/adminlte.min.css">


    <link rel="stylesheet" href="~/App_Asset/plugins/bs-stepper/css/bs-stepper.min.css">


    <link rel="stylesheet" href="~/App_Asset/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/App_Asset/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/App_Asset/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

    <!--datatable plugin--><!-- DataTables -->
    <link rel="stylesheet" href="~/App_Asset/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/App_Asset/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/App_Asset/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <link href="~/App_Asset/plugins/chart.js/Chart.css" rel="stylesheet" />
    <link href="~/App_Asset/plugins/chart.js/Chart.min.css" rel="stylesheet" />
</head>

<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
            <div class="container">
                @if (Session["ssUser"] != null)
                {
                    <a href="@Url.Action("UserProfile", "Accounts")" class="navbar-brand">
                        <span class="brand-text font-weight-light">@Session["_orgName"]</span>
                    </a>
                }
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link">Dashboard</a>
                        </li>
                        @* <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>*@
                        @if (Session["ssUser"] != null)
                        {
                            if ((int)Session["_supplierStatus"] == 0 && (int)Session["_purcherserStatus"] == 1)
                            {
                                <li class="nav-item dropdown">
                                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">My Menu</a>
                                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow mt-2">
                                        <li><a href="@Url.Action("SubmitTender", "Tender")" class="dropdown-item">Submit Tender</a></li>
                                        <li><a href="@Url.Action("ViewAllTender", "Tender")" class="dropdown-item"> Tender List</a></li>
                                        <li><a href="@Url.Action("Index", "Tender")" class="dropdown-item"> Compare List</a></li>
                                        <li><a href="@Url.Action("CreateTenderProduct", "Setup")" class="dropdown-item"> Item</a></li>
                                        <li class="dropdown-submenu">
                                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">View Tender</a>
                                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                                <li><a href="@Url.Action("ViewAllTender", "Tender")" class="dropdown-item">View All Tender</a></li>
                                                <li><a href="@Url.Action("ViewApproveTender", "Tender")" class="dropdown-item">Approval Tender</a></li>
                                                <li><a href="@Url.Action("ViewPendingApprovalTnd", "Tender")" class="dropdown-item">Pending Approval Tender</a></li>
                                                <li><a href="@Url.Action("ViewExpireTnd", "Tender")" class="dropdown-item">No Qutotation Apply but Expire</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else if ((int)Session["_supplierStatus"] == 1 && (int)Session["_purcherserStatus"] == 0)
                            {
                                <li class="nav-item dropdown">
                                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">My Menu</a>
                                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow mt-2">
                                        <li><a href="@Url.Action("Index", "Quotation")" class="dropdown-item">New Tender List</a></li>
                                        <li><a href="@Url.Action("WiningsBid", "Quotation")" class="dropdown-item">Wining Bids</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>

                    <!-- SEARCH FORM -->
                    @*<form class="form-inline ml-0 ml-md-3">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>*@
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    @if ((int)Session["_supplierStatus"] == 1 && (int)Session["_purcherserStatus"] == 0)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-warning navbar-badge">@ViewBag.WiningBidsNotifyCount</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right mt-2 bg-gradient-white text-bold">
                                <span class="dropdown-item dropdown-header">@ViewBag.WiningBidsNotifyCount Notifications for last one month</span>

                                <div class="dropdown-divider"></div>

                                @if (@ViewBag.WiningBidsNotifyCount > 0)
                                {
                                    foreach (var item in ViewBag.WiningBidsNotify)
                                    {
                                        <small class="text-bold">
                                            <a href="@Url.Action("WiningsBid", "Quotation")" class="dropdown-item text-success text-bold">
                                                Your Organization win this @item.RFQ_NUMBER<br/> against @item.QUOTE_NUMBER
                                            </a>
                                        </small>
                                    }
                                }

                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("WiningsBid", "Quotation")" class="dropdown-item dropdown-footer">See All Notifications</a>
                            </div>
                        </li>
                    }


                    <li class="nav-item dropdown">
                        @if (Session["ssUser"] == null)
                        {
                            <a class="btn btn-outline-warning btn-sm" href="@Url.Action("Login", "Accounts")">Login</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Logout", "Accounts")" class="btn btn-outline-danger btn-sm mt-1">
                                <i class="fas fa-power-off mr-2"></i>
                                Logout
                            </a>
                        }
                    </li>
                    @if (Session["ssUser"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right mt-2">
                                <span class="dropdown-header text-left">
                                    <i class="far fa-user"></i> User Id :  @Session["_vendorUserId"]
                                </span>
                                <span class="dropdown-header text-left">
                                    <i class="far fa-envelope"></i> Email : @Session["_vendorEmail"]
                                </span>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("UserProfile","Accounts")" class="dropdown-item btn btn-block btn-sm btn-primary">
                                    View Profile
                                </a>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                @*<div class="container">
                    </div>*@<!-- /.container-fluid -->
                @RenderBody()
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer bg-gradient-dark">

            <!-- To the right -->
            <div class="float-right  d-sm-inline ">
                For any queries/Support contact-mis5@prgoverseas.com
            </div>
            <!-- Default to the left -->
            <p>&copy; 2022-2025 <a href="https://en.wikipedia.org/wiki/PRAN-RFL_Group">PRG HO CS-MIS </a> All rights reserved.</p>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/App_Asset/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/App_Asset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/App_Asset/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/App_Asset/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    @*<script src="~/App_Asset/dist/js/demo.js"></script>*@

    <script src="~/App_Asset/plugins/select2/js/select2.full.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="~/App_Asset/plugins/sweetalert2/sweetalert2.min.js"></script>

    <!--datatabel js-->
    <script src="~/App_Asset/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/App_Asset/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/App_Asset/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/App_Asset/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/App_Asset/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/App_Asset/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/App_Asset/plugins/jszip/jszip.min.js"></script>
    <script src="~/App_Asset/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/App_Asset/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/App_Asset/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/App_Asset/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/App_Asset/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!--chart js-->
    <script src="~/App_Asset/plugins/chart.js/Chart.min.js"></script>
    <script src="~/App_Asset/plugins/chart.js/Chart.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $('.select2').select2()
        //Sweet Alert
        @Html.Raw(TempData["msg"])

    </script>
</body>
</html>
